<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Customer</title>
</head>
<body>
  <h1>Functions of a Customer</h1>
  <ul>
    <li><a href="/view/Customer/search/search package.html">Search</a>
      for your own package</li>

    <li><a href="/view/Customer/send and receive/send.html">Send</a>
      /<a href="/view/Customer/send and receive/revceive.html">receive</a>
       package</li>

    <li><a href="/view/Customer/update/update personal.html">Update</a>
       personal information</li>

    <li><a href="/view/Customer/payment/do payment.html">Do payment</a></li>

    <li><a href="/view/Customer/traceback/traceback package.html">Traceback</a>
       his/her package (Status mode)</li>
  </ul>
</body>
</html>
