<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add user</title>
</head>
<body>
<h1> Add User </h1>
<form action="/" method="post">
  <div>
  Enter The user name  <input type="text" id="Name"> <br>
  Enter the Goverment ID <input type="text" id=" Goverment_ID"><br>
  Enter Type <input type="text" id="Type"><br>
  
  <input type="submit" value="add">
  <!-- <a href="packeged">Ship</a> -->
  </div>
</form>
</body>
</html>
