<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add package</title>
</head>
<body>
<h1>Add package page</h1>
<form action="/addshipedpackage" method="POST">
  Enter Package number <input type="number" id="PNUMBER" name="PNUMBER" > <br>
  Enter Reciver_name <input type="text" id="Reciver_name" name="Reciver_name" required><br>
  Enter Type <input type="text" id="Type" name="Type" required><br>
  Enter status <input type="text" id="Status" name="Status" required><br>
  Enter destination <input type="text" id="destination" name="destination" required><br>
  Enter the package wight <input type="number" id="Reciver_name" name="wight"><br>
  Enter price of the package  <input type="number" id="Type" name="price"><br>
  Enter package diaminsion <input type="number" id="status" name="diaminsions"><br>
  Enter Final date  <input type="date" id="destination" name="finaldeliverydate"><br>
  <input type="submit" value="add">
  <!-- <a href="packeged">Ship</a> -->
  </div>
</form>
<!-- <script src="/Script.js"></script> -->
</body>

</html>
