<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add user</title>
</head>
<body>
<h1> Add User </h1>
<form action="/adduser" method="post">
  <div>
  Enter The user ID  <input type="text" id="ID" name="ID" required> <br>
  Enter the Goverment ID <input type="text" id=" Goverment_ID" name="Goverment_ID" required><br>
  Enter Name <input type="text" id="Type" name="Name" required><br>
  <button>Add user</button>
  </div>
</form>
</body>
</html>
