<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add package</title>
</head>

<body>
<h1>Add package page</h1>
<form action="/" method="POST">
  
  Enter Package number <input type="text" name="PNUMBER"   required > <br>
  Enter Reciver_name <input type="text"  required><br>
  Enter Type <input type="text" name="Type" required><br>
  Enter status <input type="text" name="status" required><br>
  Enter destination <input type="text" name="destination" required><br>
  Enter location <input type="text" name="location" required><br>
  Enter status <input type="text" name="status" required><br>
  <button type="submit" name="btn1">Submit</button>

  
</form>

</body>
<script type='module' src="Script.js">

</script>
</html>
