<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Customer</title>
</head>
<body>
  <h1>Functions of a Customer</h1>
  <ul>
    <li><a href="searchpackage">Search</a>
      for your own package</li>

    <li><a href="send">Send</a>
      /<a href="revceive">receive</a>
       package</li>

    <li><a href="updatepersonal">Update</a>
       personal information</li>

    <li><a href="dopayment">Do payment</a></li>

    <li><a href="tracebackpackage">Traceback</a>
       his/her package (Status mode)</li>
  </ul>
</body>
</html>
