<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edite User </title>
</head>
<body>
    <h1> editing the information of user using the user ID  : </h1>
    <form action="/editUser" method="post">
        <div>
        User ID  <input type="text" id="ID" name="ID" value = {{arr.ID}} > <br>
        Edit the Goverment ID <input type="text" id=" Goverment_ID" name="Goverment_ID" required><br>
        Edit User Name <input type="text" id="Type" name="Name" required><br>
        <button>Submit</button>
        </div>
      </form>
    
</body>
</html>
