<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit package</title>
</head>
<body>
<h1>Edit package page</h1>
<form action="/" method="post">
  <div>
  Enter Package number <input type="text" id="PNUMBER"> <br>
  Enter Reciver_name <input type="text" id="Reciver_name"><br>
  Enter Type <input type="text" id="Type"><br>
  Enter status <input type="text" id="status"><br>
  Enter destination <input type="text" id="destination"><br>
  Enter location <input type="text" id="location"><br>
  Enter status <input type="text" id="status"><br>
  <input type="submit" value="add">
  <!-- <a href="packeged">Ship</a> -->
  </div>
</form>
</body>
</html>
