<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Employee</title>
</head>
<body>
  <h1>Functions of an Administration/Employee</h1>
  <!-- Functions of an Administration/Employee -->
  <ul>
   
    <!-- Trace back packages -->
    <li><a href="">
      Trace back packages</a></li>

    <!-- Sending notifications through email etc. -->
    <li><a href="">
      Sending notifications through email etc.</a></li>
      <li><a href="Ship">
          Ship package</a></li>
  </ul>



</body>
</html>
