<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Employee</title>
</head>
<body>
  <h1>Functions of an Administration/Employee</h1>
  <!-- Functions of an Administration/Employee -->
  <ul>
    <!-- Package information -->
    <li><a href="Addpackage">Add
    </a>/
    <a href="/view/Employee/package information/Remove package.html">Remove
    </a>/
    <a href="/view/Employee/package information/Edit package.html">Edit
    </a> package information</li>

    <!-- User information -->
    <li><a href="/view/Employee/user information/Add user.html">Add
    </a>/
    <a href="/view/Employee/user information/Remove user.html">Remove
    </a>/
    <a href="/view/Employee/user information/Edit user.html">Edit
    </a> user information</li>

    <!-- Generate reports -->
    <li><a href="/view/Employee/reports/Generate reports.html">
      Generate reports</a></li>

    <!-- Trace back packages -->
    <li><a href="/view/Employee/trace back packages/trace.html">
      Trace back packages</a></li>

    <!-- Sending notifications through email etc. -->
    <li><a href="/view/Employee/email/sending email.html">
      Sending notifications through email etc.</a></li>
  </ul>


</body>
</html>
