<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Generate reports</title>
</head>
<body>
<h1>Generate reports page</h1>
<a href="getpays">
• Payments that have been confirmed and completed</a> <br>
<a href="pkg2dates">
• List packages between two dates</a><br>
<a href="/admin/tyb2dates">
• List the total number of package types (Regular, Fragile, Liquid, Chemical ) that have
been sent between two dates.</a><br>
<a href="track">
• Package Delivery Tracking based on categories, locations and status.</a><br>
<a href="pkginfobycus">
• List all packages information either sent or received by a particular customer</a><br>
</body>
</html>
