<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Get started</title>
</head>
<body>
  <h1>Please choose:</h1>
  <h2>Functions of an<strong>
      <a href="Admin">
        Administration</a></strong></h2>
          <h2>Functions of an<strong>
      <a href="Employee">
        Employee</a></strong></h2>
  <h2>Functions of a <strong>
    <a href="Customer">
    Customer</a></strong></h2>
</body>
</html>
