<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Remove package</title>
</head>
<body>
<h1>  Remove user  </h1>
<form action="/removeUser" method="post">
  <div>
  Enter The user ID   <input type="text" id="id"  name="ID" required> <br>
  <input type="submit" value="Remove ">
  <!-- <a href="packeged">Ship</a> -->
  </div>
</form>
</body>
</html>
