<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ship</title>
</head>
<body>
    <form action="/" method="post">
        <div>
            Enter Package number <input type="text" id="PNUMBER"> <br>
            Enter diaminsions <input type="text" id="diaminsions"><br>
            Enter wight <input type="text" id="wight"><br>
            Enter final delivery date <input type="text" id="final delivery date"><br>
            <input type="submit" value="add">
            <a href="packeged">Ship</a>
        </div>
    </form>
</body>
</html>